body {
    background-color:#BFB0BA;
    background-image: url('homepic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#zipCodeBox {
    width: auto;
    background-color: #403B39;
    color:#BFB0BA

}

#bigBox {
    background-color: rgb(191,176,186,.70);
    border: groove;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* height: 100px; */
    align-content: center;
    grid-auto-rows: minmax(100px, auto);
}

#tempBox {
    background-color: #F2AFA0;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    margin: 10px;
    border: groove;
}

#precipitationBox{
    background-color: #F2AFA0;
    border-radius: 10px;
    grid-column:3/4;
    grid-row:1/3;
    text-align: justify;
    font-size: 50px;
    margin: 10px;
    border: groove;
}

#windBox{
    background-color: #F2AFA0;
    grid-column:1/3;
    grid-row:2/3;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    margin: 10px;
    border: groove;
}

#humidityBox{
    background-color: #F2AFA0;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    margin: 10px;
    border: groove;
}

#pageMainHeader {
    text-align: center;
}